/* we are working with the color plate from this link:
 https://colorhunt.co/palette/2c3333395b642666cff5f2e7 */
/**************tag styles************/
body {
  background-color: #f5f2e7;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

/**************class styles************/

.topContainer {
  background-color: #2666cf;
  width: 180px;
  height: 180px;
  border: 10px solid black;
}
.midContainer {
  background-color: #395b64;
  border: 20px solid black;
  width: 160px;
  height: 160px;

  margin-left: 200px;
}

.buttContainer {
  background-color: #2c3333;
  border: 10px solid black;
  width: 180px;
  height: 180px;
  margin-left: 400px;
}
