/* we are working with the color plate from this link:
 https://colorhunt.co/palette/2c3333395b642666cff5f2e7 */
/**************tag styles************/
body {
  background-color: #f5f2e7;
  margin: 0;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 500%; /* when we want to make a dinamic font size [almost always we need to calc it to be (goal in PX)/(16) 'rem'  */
  color: #395b64;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #395b64;
}

h3 {
  color: #2666cf;
}

a {
  color: #2666cf;
}
a:visited {
  color: #2c3333;
}
p {
  margin: 0;
  font-size: 1.5rem;
}

/**************class styles************/

.top-container {
  background-color: #f5f2e7;
  position: relative;
  padding-top: 100px;
}

.mid-container {
  padding: 30px 0px 50px;
}

.butt-container {
}

.red-square {
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  top: 200px;
  left: 200px;
}

.blue-square {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: absolute;
  top: 100px;
  left: 100px;
}

.yellow-square {
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}

.top-square {
  background-color: #d67d3e;
  width: 33vw;
  height: 33vw;
}

.mid-square {
  background-color: #9c0f48;
  width: 33vw;
  height: 33vw;
  margin-left: 33vw;
}

.bot-square {
  background-color: #470d21;
  width: 33vw;
  height: 33vw;
  margin-left: 66vw;
}

.bot-cloud {
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
}
