/* we are working with the color plate from this link:
 https://colorhunt.co/palette/2c3333395b642666cff5f2e7 */
/**************tag styles************/
body {
  background-color: #f5f2e7;
  width: 100%;
}

/**************class styles************/
.topContainer {
  background-color: #2666cf;
  height: 200px;
  width: 200px;
}
.midContainer {
  background-color: #395b64;
  height: 200px;
  width: 200px;
}

.buttcontainer {
  background-color: #2c3333;
  height: 200px;
  width: 200px;
}
